<tfoot class="footer pagination unselectable">
    <tr>
        <td colspan="{{ columns|length }}">
            <div class="page_size_container">
                <select name="page_size" class="page_size">
                    <option value="10" selected="selected">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>
                <label for="page_size">{{ "nb_ligne_afficher" | lang }}</label>
            </div>
            <div class="pagination_btn">
                <a class="clickable envoi_first"><i class="fas fa-angle-double-left"></i></a>
                <a class="clickable envoi_previous"><i class="fas fa-angle-left"></i></a>
                <span class="text"><input type="number" name="page_curr" class="page_curr" value="1" min="1" /><span class="page_nb"></span></span>
                <a class="clickable envoi_next"><i class="fas fa-angle-right"></i></a>
                <a class="clickable envoi_last"><i class="fas fa-angle-double-right"></i></a>
            </div>
        </td>
    </tr>
</tfoot>