<div class="background_popup_main hidden">
    <div class="popin-container">
        <div class="row">
            <div class="title">
                <span class="title_text">{{ title_txt | lang }}</span>
                <span class="close_popin no-copy"><i class="fas fa-times"></i></span>
            </div>
            <div class="content"></div>
            <div class="footer no-copy">
                <button class="button orange cancel">{{ "annuler" | lang }}</button>
                <button class="button vert valid">{{ "valider" | lang }}</button>
            </div>
        </div>
    </div>
</div>