<html>
<head>
    {{ include('common/head.twig') }}
</head>
<body>
{{ include('common/menu_et_header.twig') }}
<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
        {{ content }}
    </div>
</div>
</body>
</html>