<html>
<head>
    {{ include('common/head.twig') }}
</head>
<body>
<div class="login-wrap">
    <h2><i class="icon_site"></i>{{ app_name }}</h2>
    <form method="POST" action="">
        <input type="text" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <button> Connexion </button>
    </form>
</div>
</body>
</html>