

@-webkit-keyframes pop-in {
    0%{opacity:0;-webkit-transform:scale(0.5)}
    100%{opacity:1;-webkit-transform:scale(1)}
}
@-moz-keyframes pop-in {
    0%{opacity:0;-moz-transform:scale(0.5)}
    100%{opacity:1;-moz-transform:scale(1)}
}
@keyframes pop-in {
    0%{opacity:0;transform:scale(0.5)}
    100%{opacity:1;transform:scale(1)}
}
@-webkit-keyframes pop-out {
    0%{opacity:1;-webkit-transform:scale(1)}
    100%{opacity:0;-webkit-transform:scale(0.5)}
}
@-moz-keyframes pop-out {
    0%{opacity:1;-moz-transform:scale(1)}
    100%{opacity:0;-moz-transform:scale(0.5)}
}
@keyframes pop-out {
    0%{opacity:1;transform:scale(1)}
    100%{opacity:0;transform:scale(0.5)}
}
.background_popup_main{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.65);display:block;z-index:99999}
.background_popup_main .popin-container{height:100%;padding:0;margin:0;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;align-items:center;justify-content:center;-webkit-animation:pop-in .3s;-moz-animation:pop-in .3s;-ms-animation:pop-in .3s}
.background_popup_main .popin-container.popout{-webkit-animation:pop-out .3s;-moz-animation:pop-out .3s;-ms-animation:pop-out .3s}
.background_popup_main .popin-container .row{width:auto;border:1px solid rgba(0,0,0,0.7);background:#EEE;min-width:400px;box-shadow:3px 3px 10px #333;place-content:flex-start}
.background_popup_main .popin-container .row *{box-sizing:border-box}
.background_popup_main .popin-container .row .title{min-height:45px;padding:10px;text-transform:uppercase;width:100%;color:rgba(11,37,89,0.81);font-weight:700;font-size:1.2em;background:rgba(0,0,0,0.1);padding:10px;text-transform:uppercase;width:100%;color:rgba(11,37,89,0.81);font-weight:bold;font-size:1.2em;background:rgba(0,0,0,0.07);border-bottom:1px solid rgba(0,0,0,0.2);position:relative}
.background_popup_main .popin-container .row .title .close_popin{position:absolute;top:0;right:0;color:rgba(0,0,0,0.5);font-size:1.5em;padding:10px}
.background_popup_main .popin-container .row .title .close_popin:hover{color:rgba(0,0,0,0.7);cursor:pointer}
.background_popup_main .popin-container .row .content{padding:10px;display:block;width:100%;min-height:110px}
.background_popup_main .popin-container .row .footer{display:block;width:100%;border-top:1px solid rgba(0,0,0,0.2);background:rgba(0,0,0,0.07);text-align:right}
.background_popup_main .popin-container .row .footer button{margin:10px}

/* loader */
.background_popup_main .loading{position:relative;overflow: hidden}
.background_popup_main .loading::before{content:'';display:inline-block;width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.35);z-index:9}
.background_popup_main .loading::after{font-family:"Font Awesome 5 Free";content:"\f021";font-weight: 900;display:inline-block;width:40px;height:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);color:#fff;z-index:10;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;text-align:center;font-size:40px;line-height:40px}
