/**
    Tableau responsive
 */

.container_form {

}

.inputBloc > label {
    color:rgba(0,0,0,0.5);
    display: block;
    margin-bottom: -4px;
    text-transform: uppercase;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 3px 0 dodgerBlue;
}

.global_input.inputWithIcon input[type="text"] {
    padding-left: 40px;
}

.global_input.inputWithIcon {
    position: relative;
}

.global_input.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.global_input.inputWithIcon input[type="text"]:focus + label i {
    color: dodgerBlue;
}

.global_input.inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 10px 10px;
    width: 37px;
    border-radius: 4px 0 0 4px;
}

.global_input.inputWithIcon.inputIconBg input[type="text"]:focus + label i {
    color: #fff;
    background-color: dodgerBlue;
}

.global_input[data-validation-error] input:not(:focus) {
    border-color: red;
    box-shadow: 0 0 3px 0 red;
}

.global_input[data-validation-error]:not(:focus-within)::after {
    content: attr(data-validation-error);
    display: block;
    width: 100%;
    color: red;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    position: absolute;
    top:47px;left: 0;
    font-size: 0.9em;
}