
/*
tbody.loading{position:relative;min-height:60px;overflow: hidden}
tbody.loading::before{content:'';display:inline-block;width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.2);z-index:9}
tbody.loading::after{font-family:"fontello";content:'\e838';display:inline-block;width:40px;height:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);color:#fff;z-index:10;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;text-align:center;font-size:40px;line-height:40px}
*/

.pagination input[type="button"].prev_page{ }
.pagination input[type="button"].next_page{ margin-left: 20px;}
.pagination input[data-curr-page="1"].prev_page, .pagination input[data-curr-page="1"].first_page, .pagination input.next_page.is_last_page, .pagination input.last_page.is_last_page {background: #8d8d8d;cursor: default}
