/**
    Tableau responsive
 */

.container_table{padding:.5em;background:#fff;border:1px solid rgba(0,0,0,0.20);box-shadow:rgba(99,99,99,0.2) 0 2px 8px 0;border-radius:5px;max-width:calc(100% - 15px);display:inline-block}
.container_table.full_width{width: 100%;}
.container_table table{margin:0;padding:0;width:100%;display:block;border-collapse:separate;border-spacing:0}
.container_table.full_width table{display: table; table-layout: fixed}
.container_table table caption{font-size:1.5em;margin:.5em 0 .75em}
.container_table table tr{background-color:#fff;border:1px solid rgba(0,0,0,0.15);padding:.35em}
.container_table table tr td,table tr th{border:1px solid rgba(0,0,0,0.15);padding:.7em}
.container_table table tr td.action_column,table tr th.action_column{padding:.3em;White-space: nowrap;}
.container_table table tr.title,table tr.title th{border-bottom:none}
.container_table table tr.filter_header,table tr.filter_header th{border-top:none}
.container_table table th,table td{padding:1em}
.container_table table th{background:#e0e0e0;color:rgba(0,0,0,0.7);font-size:.85em;letter-spacing:.1em;text-transform:uppercase;position:sticky;top:0}
.container_table table tbody{min-height:50px;height:50px;width:100%}
.container_table table tbody tr:nth-child(odd) td{background:rgba(0,0,0,0.03)}
.container_table table tbody tr:hover td:not(.error_msg),table tbody tr:nth-child(odd):hover td:not(.error_msg){background:rgba(106,125,182,0.15)}
.container_table .table_wrapper{width:100%;max-height:500px;overflow-x:auto;position:relative}
.container_table .table_wrapper.hide_scroll{overflow:hidden;min-height:250px}
.container_table .table_wrapper .error_msg{position:absolute;top:0;width:100%;background:rgba(0,0,0,0.75);color:#fff;min-height:300px;height:100%;text-align:center;padding-top:75px}
.container_table table thead th .filtre_extend{padding:8.5px;margin-top:0.7em;}
.container_table .table_footer{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:#e0e0e0;border:1px solid rgba(0,0,0,0.1);padding:.7em}
.container_table .table_footer > tr{text-align:left;background:rgba(0,0,0,0.06)}
.container_table .table_footer > tr td{text-align:left}
.container_table .table_footer .pagination_btn{text-align:right;display:inline-block;width:calc(100% - 205px)}
.container_table .table_footer .page_size_container{display:inline-block;width:200px}
.container_table .table_footer .pagination_btn a{cursor:pointer;border:1px solid rgba(0,0,0,0.3);border-radius:3px;width:30px;display:inline-block;text-align:center;font-size:20px;padding:4px;box-sizing:border-box;vertical-align:middle;color:rgba(0,0,0,0.7);background:#fff}
.container_table .table_footer .pagination_btn a:hover{background:rgba(255,255,255,0.8)}
.container_table .table_footer .pagination_btn input{border:1px solid rgba(0,0,0,0.3);border-radius:3px;width:60px;display:inline-block;text-align:center;height:30px;line-height:30px;box-sizing:border-box;vertical-align:middle}
.container_table .field_order_by{cursor:pointer}
.container_table .field_order_by::after{font-family:'Font Awesome 5 Free';padding-left:5px;content:"\f0dc";cursor:pointer}
.container_table .field_order_by.down::after{content:"\f0dd"}
.container_table .field_order_by.up::after{content:"\f0de"}
.container_table .show_filter{float:right;max-width:30px;overflow:hidden;text-overflow:clip;white-space:nowrap;color:transparent;margin-bottom:.3em;transition:max-width .6s linear,color .2s }
.container_table .show_filter i{color:rgba(0,0,0,0.7)}
.container_table .show_filter:hover,.container_table .show_filter.active{max-width:300px;color:rgba(0,0,0,0.7)}

@media screen and (max-width: 600px) {
    .container_table table{border:0}
    .container_table table caption{font-size:1.3em}
    .container_table table thead{border:none;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
    .container_table table tr{border-bottom:3px solid #ddd;display:block;margin-bottom:.625em}
    .container_table table td{border-bottom:1px solid #ddd;display:block;font-size:.8em;text-align:right}
    .container_table table td::before{content:attr(data-label);float:left;font-weight:700;text-transform:uppercase}
    .container_table table td:last-child{border-bottom:0}
    .container_table tr:nth-child(odd) td{background:transparent}
}

@-webkit-keyframes spin {
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes spin {
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}

/* loader */
.container_table .table_wrapper.loading{position:relative;overflow: hidden;min-height: 250px;text-align: center}
.container_table .table_wrapper.loading::before{content:'';display:inline-block;width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.35);z-index:9}
.container_table .table_wrapper.loading::after{font-family:"Font Awesome 5 Free";content:"\f021";font-weight: 900;display:inline-block;width:40px;height:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);color:#fff;z-index:10;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;text-align:center;font-size:40px;line-height:40px}
