<?php
/**
 * A utiliser avec la classe de config de veka-server/config
 */

$app_name = 'Timek';
$root_dir = __DIR__.DIRECTORY_SEPARATOR.'..'.DIRECTORY_SEPARATOR;

return array(

    "APP_NAME"   => $app_name,
    "VERSION"   => \App\classe\Git::getVersion(), /** @todo ajouter un cache / performance */

    // Environnement
    "ENV"   => 'DEV', // DEV / PROD

    "DEFAULT_LANG"   => 'FR',

    // Migration
    "Migration"   => [
        /** migration de l'app principal */
        'App' => ['path' => realpath($root_dir.'/src/migration/'), 'name' => 'App']
        ,'Trad' => ['path' => realpath($root_dir.'/src/trad/'), 'name' => 'Trad']
    ],

    "login_page" => '/login',

    // PHP_BAR
    "PHP_BAR"   => FALSE,

    // ARBORESCENCE
    "ROOT_DIR"   => realpath($root_dir),
    "PUBLIC_DIR"   => realpath($root_dir.DIRECTORY_SEPARATOR.'src'.DIRECTORY_SEPARATOR.DIRECTORY_SEPARATOR.'public'.DIRECTORY_SEPARATOR),

    // BDD
    "db_user" => 'timetracker',
    "db_pass" => '',
    "db_host" => '192.168.1.182',
    "db_port" => '3306',
    "db_name" => 'timetracker',
    'db_charset' => '',

    // Discord
    "DISCORD_CHANNEL" => 'https://discordapp.com/api/webhooks/...',
    "DISCORD_APP_NAME" => strtoupper($app_name)
);